<!--
  Generated template for the CustomtrackerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{trackername | uppercase}}</ion-title>
  </ion-navbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="tracker">
      <ion-segment-button value="track">
        TRACK
      </ion-segment-button>
      <ion-segment-button value="history">
        HISTORY
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content color="primary" pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>
  <div [ngSwitch]="tracker">
    <div *ngSwitchCase="'track'">
      <ion-card>
        <ion-card-content>
          <form [formGroup]='myForm' (ngSubmit)="onSubmit()">
            <ion-item class="fix-underline">
              <ion-label color="primary" fixed>Date</ion-label>
              <ion-datetime displayFormat="MM/DD/YYYY" formControlName="date"></ion-datetime>
            </ion-item>
            <ion-item class="fix-underline">
              <ion-label color="primary" floating>Note</ion-label>
              <ion-textarea rows="12" formControlName="note"></ion-textarea>
            </ion-item>
            <button ion-button type="submit" [disabled]="!myForm.valid">Record</button>
          </form>
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngSwitchCase="'history'">
      <ion-list *ngIf="mytrackers">
        <ion-card *ngFor="let mt of mytrackers">
          <ion-item>
            <ion-row class="color-primary-darker">
              {{mt.note}}
            </ion-row>
            <ion-row>
              <ion-note>
                {{mt.date | date}}
              </ion-note>
            </ion-row>
          </ion-item>
        </ion-card>
      </ion-list>
    </div>
  </div>
</ion-content>
