page-trackers {
    ion-card {
        position: relative;
        text-align: center;
        padding-bottom: 25px;
        padding-top: 25px;
    }

    ion-icon {
        font-size: 60px;
    }

    .col {
        padding: 0px;
    }

    .item-size {
        text-align: center;
    }

}
