<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>DASHBOARD</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-list-header>Recent Events</ion-list-header>
    <ion-card *ngIf="appointments.length!=0">
      <ion-card-content>
        <ion-card-title>
          <ion-item no-padding>
            <ion-icon item-start>
              <i class="far fa-calendar-alt"></i>
            </ion-icon>
            <span>Appointment</span>
          </ion-item>
        </ion-card-title>
        <ion-list *ngFor="let appointment of appointments">
          <ion-item (click)="goToAppointment()">
            <h2>{{appointment.date | date}} at {{appointment.time}}</h2>
            <h3>{{appointment.location}}</h3>
            <p>{{appointment.firstname | titlecase}} {{appointment.lastname | titlecase}}</p>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="labtests.length!=0">
      <ion-card-content>
        <ion-card-title>
          <ion-item no-padding>
            <ion-icon item-start>
              <i class="fas fa-file-medical-alt"></i>
            </ion-icon>
            <span>Abnormal Lab Test</span>
          </ion-item>
        </ion-card-title>
        <ion-list *ngFor="let labtest of labtests; let i = index;">
          <ion-item (click)="goToLabtest(i)">
            <h2>{{labtest.subtest}}</h2>
            <h3>{{labtest.result}}
              <span *ngIf="labtest.isnumber"> {{labtest.unit}}</span>
            </h3>
            <p>{{labtest.date | date}}</p>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="medications.length!=0">
      <ion-card-content>
        <ion-card-title>
          <ion-item no-padding>
            <ion-icon item-start>
              <i class="fas fa-capsules"></i>
            </ion-icon>
            <span>Medication</span>
          </ion-item>
        </ion-card-title>
        <ion-list *ngFor="let medication of medications">
          <ion-item (click)="goToMedication()">
            <h2>{{medication.name}}</h2>
            <h3>{{medication.frequency}}</h3>
            <p>{{medication.date | date}}</p>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="immunizations.length!=0">
      <ion-card-content>
        <ion-card-title>
          <ion-item no-padding>
            <ion-icon item-start>
              <i class="fas fa-syringe"></i>
            </ion-icon>
            <span>Immunization</span>
          </ion-item>
        </ion-card-title>
        <ion-list *ngFor="let immunization of immunizations">
          <ion-item (click)="goToImmunization()">
            <h2>{{immunization.vaccine}}</h2>
            <h3>{{immunization.schedule}}</h3>
            <p>{{immunization.date | date}}</p>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="dvnotes.length!=0">
      <ion-card-content>
        <ion-card-title>
          <ion-item no-padding>
            <ion-icon item-start>
              <i class="fas fa-notes-medical"></i>
            </ion-icon>
            <span>Doctor Visit Notes</span>
          </ion-item>
        </ion-card-title>
        <ion-list *ngFor="let d of dvnotes">
          <ion-item (click)="goToDoctorVisitNotes()">
            <h2>{{d.diagnosis}}</h2>
            <h3>{{d.doctor}}</h3>
            <p>{{d.date | date}}</p>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
