<!--
  Generated template for the PasswordResetPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="white" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <form *ngIf="!validEmail && !validSecQues" #emailVerification="ngForm" (ngSubmit)="verifyEmail()">
    <ion-item>
      <ion-label stacked color="primary">Registered Email
        <span class="color-red">*</span>
      </ion-label>
      <ion-input type="email" [(ngModel)]="emailAddress" name="email" #email="ngModel" required email></ion-input>
    </ion-item>
    <div class="pull-right color-red">
      <span [hidden]="email.pristine">
        <span [hidden]="!email.errors?.required">Email is required.</span>
        <span [hidden]="!email.errors?.email">Please enter a valid email address.</span>
      </span>
    </div>
    <button ion-button block type="submit" [disabled]="!emailVerification.form.valid">Next</button>
  </form>

  <form *ngIf="validEmail" #secQuesVerification="ngForm" (ngSubmit)="verifySecQues()">
    <ion-item>
      <ion-label stacked color="primary">Security Question
        <span class="color-red">*</span>
      </ion-label>
      <ion-input type="text" placeholder={{securityQuestion}} value={{securityQuestion}} readonly></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked color="primary">Security Answer
        <span class="color-red">*</span>
      </ion-label>
      <ion-input type="text" [(ngModel)]="securityAnswer" name="secAns" #secAns="ngModel" required></ion-input>
    </ion-item>
    <div class="pull-right color-red">
      <span [hidden]="secAns.pristine">
        <span [hidden]="!secAns.errors?.required">Security answer is required.</span>
      </span>
    </div>
    <button ion-button block type="submit" [disabled]="!secQuesVerification.form.valid">Next</button>
  </form>

  <form *ngIf="validSecQues" [formGroup]='resetpasswordForm' (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label stacked color="primary">New Password
        <span class="color-red">*</span>
      </ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <div class="pull-right color-red">
      <span [hidden]="!(formErrors.password)">{{formErrors.password}}</span>
    </div>
    <ion-item>
      <ion-label stacked color="primary">Confirm Password
        <span class="color-red">*</span>
      </ion-label>
      <ion-input type="password" formControlName="confirmPassword"></ion-input>
    </ion-item>
    <div class="pull-right color-red">
      <span [hidden]="!(formErrors.confirmPassword)">{{formErrors.confirmPassword}}</span>
    </div>
    <button ion-button block type="submit" [disabled]="!resetpasswordForm.valid">Submit</button>
  </form>

</ion-content>
