tile {
    ion-card {
        text-align: center;
        padding-bottom: 25px;
        padding-top: 25px;
    }

    ion-icon {
        font-size: 60px;
    }
    
    ion-label {
        text-align: center;
    }

    .col {
        padding: 0px;
    }
    
    .item-size {
        text-align: center;
    }
}
