tile {
  ion-card {
    text-align: center;
    display: flex;
    height: 180px;
  }
  ion-icon {
    font-size: 60px;
  }
  ion-label {
    text-align: center;
  }
  .col {
    padding: 0px;
  }
  .item-size {
    text-align: center;
    margin: auto;
  }
  p.break {
    color: white;
    word-break: break-word;
    white-space: normal;
  }
}
