<!-- Generated template for the TileComponent component -->
<ion-grid>
  <ion-row>
    <ion-col col-4 *ngFor="let tile of tiles; let i = index">
      <ion-card class="fix-card" *ngIf="!tile.end" [ngStyle]="{'background-color': color[i%3]}" (click)="getSub(tile.id)">
        <div class="item-size" color="primary">
          <p class="break">{{tile.name | titlecase}}</p>
        </div>
      </ion-card>
      <ion-card class="fix-card" *ngIf="tile.end" [ngStyle]="{'background-color': color[i%3]}" (click)="goToRecord(tile)">
        <div class="item-size" color="primary">
          <p class="break">{{tile.name}}</p>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
