tile {
  ion-card {
    text-align: center;
    display: flex;
    height: 85px;
  }
  ion-label {
    text-align: center;
  }
  .fix-card {
    margin: 0px;
    width: 100%;
  }
  .col {
    padding: 6px;
  }
  .item_size {
    text-align: center;
    display: flex;
    width: 100%;
  }
  p.break {
    color: white;
    word-break: break-word;
    white-space: normal;
    font-size: 15px;
    margin: auto;
  }
}
