// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
$background-dark: rgb(140, 179, 217);
$background-pale: rgb(200, 217, 234);
.section-open {
  background-color: $background-pale;
  transition: 0.2s linear;
}

.section-close {
  background-color: $background-pale;
}

.sidemenu {
  min-height: calc(100vh - 117px);
}

.section {
  margin-bottom: 0px;
}

.logout {
  // position: fixed;
  // bottom: 10px;
  color: black;
}
.card-md .item-md.item-block:not(:last-child) .item-inner,
.card-ios .item-ios.item-block:not(:last-child) .item-inner {
    box-shadow: inset 0 -1px 0 0 #dedede;
    border-bottom-color: #dedede !important;
}