<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Health Manager</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="sidemenu">
      <button ion-item color="primary-pale">
        <ion-icon item-left name="analytics"></ion-icon>
        Dashboard
      </button>
      <ion-list *ngFor="let page of pages; let i = index" class="section" no-lines no-padding>
        <button ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-open': page.open, 'section-close': !page.open}">
          <ion-icon item-left name="arrow-forward" *ngIf="!page.open"></ion-icon>
          <ion-icon item-left name="arrow-down" *ngIf="page.open"></ion-icon>
          {{page.title}}
        </button>
        <ion-list *ngIf="page.children && page.open" class="section" no-padding>
          <button menuClose ion-item *ngFor="let p of page.children" (click)="openPage(p)">
            <ion-icon [name]="p.icon" item-left></ion-icon>
            {{p.title}}
          </button>
        </ion-list>
      </ion-list>
      <ion-list class="section" *ngFor="let page of onelayerPages; let i = index" no-lines no-padding>
        <button menuClose ion-item color="primary-pale" (click)="openPage(page)">
          <ion-icon item-left [name]='page.icon'></ion-icon>
          {{page.title}}
        </button>
      </ion-list>
    </div>
    <button class="login" ion-button icon-start clear>
      <ion-icon item-left name="log-in"></ion-icon>
      Login
    </button>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
