page-welcome {
  a {
    font-size: 10vw;
    color: black;
  }
  .title-wrapper {
    margin-top: 8vh;
    min-height: 52vh;
  }
  .botton-space {
    margin-top: 2vh;
  }
  button {
    height: 7vh !important;
    font-size: 4vw !important;
  }
}
