page-welcome {
  .content {
    background-image: url("../../assets/imgs/phr-welcome1.jpg");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
  }
  a {
    font-size: 10vw;
    color: white;
  }
  p {
    color: white;
  }
  .title-wrapper {
    margin-top: 8vh;
    min-height: 52vh;
  }
  .botton-space {
    margin-top: 2vh;
  }
  button {
    height: 7vh !important;
    font-size: 4vw !important;
  }
}
