<!-- Generated template for the DynamicFormQuestionComponent component -->
<div [formGroup]="form" [ngClass]="{'fix-underline': (question.controlType!='complex')}" [ngClass]="{'red-underline': controlUnderline}">
  <label class="width color" *ngIf="question.controlType!='complex'" [attr.for]="question.key" [ngClass]="{'full-width': (question.controlType=='textarea' || question.controlType=='range')}">{{question.label}}
    <span *ngIf="question.required" class="color-red">*</span>
  </label>
  <div [ngClass]="{'width': (question.controlType!='complex' && question.controlType!='textarea' && question.controlType!='range')}" [ngSwitch]="question.controlType" [ngClass]="{'full-width': (question.controlType=='textarea' || question.controlType=='range')}">

    <!-- textbox -->
    <div class="flexlayout" *ngSwitchCase="'textbox'">
      <input [formControlName]="question.key" [id]="question.key" [type]="question.type">
      <div class="right-justify" *ngIf="question.unit.length!=0">{{question.unit}}</div>
    </div>

    <!-- select -->
    <ion-select class="select-width left-pull" [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key"
      [multiple]="question.multiple">
      <ion-option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</ion-option>
    </ion-select>

    <!-- time -->
    <ion-datetime class="left-pull" *ngSwitchCase="'datetime'" [formControlName]="question.key" [id]="question.key" [displayFormat]="question.display"></ion-datetime>

    <!-- textarea -->
    <textarea *ngSwitchCase="'textarea'" [formControlName]="question.key" [id]="question.key" [rows]="question.rows" [placeholder]="question.placeholder"
      [readonly]="question.readonly"></textarea>

    <!-- toggle button -->
    <div *ngSwitchCase="'toggle'" style="text-align: right">
      <ion-toggle style="display:inline-block; vertical-align: middle" [formControlName]="question.key" [id]="question.key" color="slate-grey"></ion-toggle>
    </div>

    <!-- range -->
    <ion-range *ngSwitchCase="'range'" [formControlName]="question.key" [id]="question.key" [min]="question.min" [max]="question.max"
      [step]="question.step" [snaps]="question.snaps" [pin]="question.pin" [color]="question.color">
      <ion-icon range-left [name]="question.iconleft"></ion-icon>
      <ion-icon range-right [name]="question.iconright"></ion-icon>
    </ion-range>
  
    <!-- mixed form for immunization -->
    <div *ngSwitchCase="'complex'">
      <div class="position fix-underline">
        <label class="width color" [attr.for]="question.selectkey">{{question.selectlabel}}
          <span *ngIf="question.selectrequired" class="color-red">*</span>
        </label>
        <div class="width">
          <ion-select class="select-width left-pull" [formControlName]="question.selectkey" [id]="question.selectkey" [multiple]="question.selectmultiple" [selectOptions]="question.selectOptions">
            <ion-option *ngFor="let opt of question.options" [value]="opt.key" (ionSelect)="selectedValue($event)">{{opt.value}}</ion-option>
          </ion-select>
        </div>
      </div>

      <div class="position fix-underline" *ngIf="selectedOption=='age'">
        <label class="width color" [attr.for]="question.inputkey">{{question.inputlabel}}
          <span *ngIf="question.inputrequired" class="color-red">*</span>
        </label>
        <div class="width">
          <input [formControlName]="question.inputkey" [id]="question.inputkey" [type]="question.type">
        </div>
      </div>

      <div class="position fix-underline" *ngIf="selectedOption=='immunizationdate'">
        <label class="width color" [attr.for]="question.datetimekey">{{question.datetimelabel}}
          <span *ngIf="question.datetimerequired" class="color-red">*</span>
        </label>
        <div class="width">
          <ion-datetime class="left-pull" [formControlName]="question.datetimekey" [id]="question.datetimekey" [displayFormat]="question.datetimedisplay"></ion-datetime>
        </div>
      </div>
    </div>
  </div>

  <!-- <div *ngIf="(!form.controls[question.key].pristine) && (!isValid)">{{question.label}} is required</div> -->
</div>
