dynamic-form-question {
  .width {
    width: 49%;
    display: inline-block;
    white-space: initial;
  }
  .full-width {
    width: 100% !important;
    display: grid !important;
  }
  .color {
    color: #222;
  }
  .select-width {
    max-width: 100%;
  }
  .input {
    border-style: none;
    margin: 11px 0;
    width: 100%;
  }
  .red-underline {
    border-bottom: .55px red solid !important;
  }
  .fix-underline {
    border-bottom: .55px solid #c8c7cc;
    padding: 0;
  }
  .left-pull {
    padding-left: 0px;
  }
  .right-pull {
    float: right;
  }
}
