<!-- Generated template for the DynamicFormQuestionComponent component -->
<div [formGroup]="form" class="fix-underline" [ngClass]="{'red-underline': ((!form.controls[question.key].pristine) && (!isValid))}">
  <label class="width color" [attr.for]="question.key">{{question.label}}</label>
  <div class="width" [ngSwitch]="question.controlType">

    <input class="input" *ngSwitchCase="'textbox'" [formControlName]="question.key" [id]="question.key" [type]="question.type">

    <ion-select class="select-width left-pull" [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key">
      <ion-option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</ion-option>
    </ion-select>

    <ion-datetime class="left-pull" *ngSwitchCase="'datetime'" [formControlName]="question.key" [id]="question.key" displayFormat="MM/DD/YYYY"></ion-datetime>

    <textarea class="input" *ngSwitchCase="'textarea'" [formControlName]="question.key" [id]="question.key" rows="4"></textarea>

  </div>
  
  <!-- <div *ngIf="(!form.controls[question.key].pristine) && (!isValid)">{{question.label}} is required</div> -->
</div>
