<!--
  Generated template for the ContactDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Contacts</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngFor="let contact of contacts; let i = index">
    <div *ngIf="isCategory(i)">
      <ion-list-header>{{contact.firstname}} {{contact.lastname}}</ion-list-header>
      <ion-item>
        Tel: {{tel[i]}}
        <a href="tel:{{contact.tel}}" item-end>
          <ion-icon name="call"></ion-icon>
        </a>
      </ion-item>
      <ion-item *ngIf="contact.fax&&contact.fax!=''">Fax: {{fax[i]}}</ion-item>
      <ion-item *ngIf="checkDoctor(i)" text-wrap>Specialty: {{contact.specialty}}</ion-item>
      <ion-item *ngIf="!((contact.location2&&contact.location2!='') || (contact.location3&&contact.location3!=''))" text-wrap>Address: {{contact.location1}}</ion-item>
      <ion-item *ngIf="(contact.location2&&contact.location2!='') || (contact.location3&&contact.location3!='')" text-wrap>Address1: {{contact.location1}}</ion-item>
      <ion-item *ngIf="contact.location2&&contact.location2!=''" text-wrap>Address2: {{contact.location2}}</ion-item>
      <ion-item *ngIf="contact.location3&&contact.location3!=''" text-wrap>Address3: {{contact.location3}}</ion-item>
      <ion-item *ngIf="checkFamilyorEmergency(i)" text-wrap>Relationship: {{contact.relationship}}</ion-item>
    </div>
  </ion-list>
  <!-- <ion-card [hidden]="matchCategory">
    <ion-card-header>
      No record!
    </ion-card-header>
  </ion-card> -->
</ion-content>
