<!--
  Generated template for the ContactDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Contacts</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngFor="let contact of contacts; let i = index">
    <div *ngIf="isCategory(i)">
      <ion-list-header>{{contact.firstname}} {{contact.lastname}}</ion-list-header>
      <ion-item>
        Tel: {{contact.tel}}
        <ion-icon item-end name="call" (click)="callNumber(i)"></ion-icon>
      </ion-item>
      <ion-item *ngIf="contact.fax&&contact.fax!=''">Fax: {{contact.fax}}</ion-item>
      <ion-item *ngIf="checkDoctor(i)">Specialization: {{contact.specialization}}</ion-item>
      <ion-item *ngIf="!((contact.location[1]&&contact.location[1]!='') || (contact.location[2]&&contact.location[2]!=''))">Address: {{contact.location[0]}}</ion-item>
      <ion-item *ngIf="(contact.location[1]&&contact.location[1]!='') || (contact.location[2]&&contact.location[2]!='')">Address1: {{contact.location[0]}}</ion-item>
      <ion-item *ngIf="contact.location[1]&&contact.location[1]!=''">Address2: {{contact.location[1]}}</ion-item>
      <ion-item *ngIf="contact.location[2]&&contact.location[2]!=''">Address3: {{contact.location[2]}}</ion-item>
      <ion-item *ngIf="checkFamilyorEmergency(i)">Relation: {{contact.relation}}</ion-item>
    </div>
  </ion-list>
  <!-- <ion-card [hidden]="matchCategory">
    <ion-card-header>
      No record!
    </ion-card-header>
  </ion-card> -->
</ion-content>
