<!--
  Generated template for the FamilyHistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>FAMILY HISTORY</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list *ngIf="records">
    <ion-list-header>Family History</ion-list-header>
    <ion-item *ngFor="let record of records; let i = index">
      <div class="white-space">
        <h3 *ngIf="record.name">Name: {{record.name | titlecase}}</h3>
        <h3>Disease: {{record.disease}}</h3>
        <p>{{record.date | date}}</p>
      </div>
      <p item-end>{{record.relationship}}</p>
    </ion-item>
  </ion-list>

  <ion-card [hidden]="records">
    <ion-card-header>No family history record.</ion-card-header>
  </ion-card>

  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="addFamilyHistory()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
