<!--
  Generated template for the SocialHistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>SOCIAL HISTORY</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="records.length!=0">
    <ion-list *ngIf="records.smoking.length!=0">
      <ion-list-header>Smoking History</ion-list-header>
      <ion-item-sliding *ngFor="let s of records.smoking; let i = index">
        <ion-item>
          <div class="white-space">
            <h3>Cigarettes: {{s.amount}}</h3>
            <p>{{s.date | date}}</p>
          </div>
        </ion-item>
        <ion-item-options side="right" icon-start>
          <button ion-button color="danger" (click)="deleteRecord('smoking', i)">
            <ion-icon name="trash"></ion-icon>
            Delete
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <ion-list *ngIf="records.alcohol.length!=0">
      <ion-list-header>Alcohol History</ion-list-header>
      <ion-item-sliding *ngFor="let a of records.alcohol; let j = index">
        <ion-item>
          <div class="white-space">
            <h3>Name: {{a.name}}</h3>
            <h3>Amount: {{a.amount}} oz</h3>
            <h3>Alcohol: {{a.alcohol}} %</h3>
            <p>{{a.date | date}}</p>
          </div>
        </ion-item>
        <ion-item-options side="right" icon-start>
          <button ion-button color="danger" (click)="deleteRecord('alcohol', j)">
            <ion-icon name="trash"></ion-icon>
            Delete
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <ion-list *ngIf="records.drug.length!=0">
      <ion-list-header>Drug History</ion-list-header>
      <ion-item-sliding *ngFor="let p of records.drug; let k = index">
        <ion-item>
          <div class="white-space">
            <h3>Name: {{p.name}}</h3>
            <h3>Amount: {{p.amount}}</h3>
            <h3>Notes: {{p.note}}</h3>
            <p>{{p.date | date}}</p>
          </div>
        </ion-item>
        <ion-item-options side="right" icon-start>
          <button ion-button color="danger" (click)="deleteRecord('drug', k)">
            <ion-icon name="trash"></ion-icon>
            Delete
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <ion-list *ngIf="records.travel.length!=0">
      <ion-list-header>Travel History</ion-list-header>
      <ion-item-sliding *ngFor="let t of records.travel; let u = index">
        <ion-item>
          <div class="white-space">
            <h3>Location: {{t.location}}</h3>
            <h3>Notes: {{t.note}}</h3>
            <p>{{t.date | date}}</p>
          </div>
        </ion-item>
        <ion-item-options side="right" icon-start>
          <button ion-button color="danger" (click)="deleteRecord('travel', u)">
            <ion-icon name="trash"></ion-icon>
            Delete
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <ion-list *ngIf="records.housing.length!=0">
      <ion-list-header>Housing History</ion-list-header>
      <ion-item-sliding *ngFor="let h of records.housing; let v = index">
        <ion-item>
          <div class="white-space">
            <h3>Housing Type: {{h.type | titlecase}}</h3>
            <h3>Move in: {{h.moveindate | date}}</h3>
            <h3>Move out: {{h.moveoutdate | date}}</h3>
            <p>Notes: {{h.note}}</p>
          </div>
        </ion-item>
        <ion-item-options side="right" icon-start>
          <button ion-button color="danger" (click)="deleteRecord('housing', v)">
            <ion-icon name="trash"></ion-icon>
            Delete
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>

  <ion-card [hidden]="records.length!=0">
    <ion-card-header>No record.</ion-card-header>
  </ion-card>

  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="addSocialHistory()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
