<!--
  Generated template for the TrackerDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{title | uppercase}}</ion-title>
  </ion-navbar>

  <ion-toolbar color="primary">
    <ion-segment color="light" [(ngModel)]="tracker">
      <ion-segment-button value="track">
        TRACK
      </ion-segment-button>
      <ion-segment-button value="history">
        HISTORY
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <!-- <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content color="primary" pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher> -->
  <div [ngSwitch]="tracker">
    <div *ngSwitchCase="'track'">
      <ion-card>
        <ion-card-content>
          <div>
            <form [formGroup]='form' (ngSubmit)="onSubmit()">

              <div *ngFor="let question of questions">
                <ion-item>
                  <dynamic-form-question [question]="question" [form]="form"></dynamic-form-question>
                </ion-item>
              </div>

              <div>
                <button ion-button type="submit" [disabled]="!form.valid" color="slate-grey">Record</button>
              </div>

            </form>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngSwitchCase="'history'">
      <ion-list *ngIf="records.length!=0">
        <ion-card *ngFor="let record of records; let i = index">

          <ion-item *ngIf="id==1" (click)="showNotes(i)">
            <h2>{{record.food}} {{record.amount}}</h2>
            <h2 *ngIf="record.calories.length!=0">{{record.calories}} Cal</h2>
            <ion-note>{{record.timeperiod | titlecase}} - {{record.datetime | date:'mediumDate'}} {{record.datetime | date:'shortTime'}}</ion-note>
          </ion-item>

          <ion-item *ngIf="id==2" (click)="showNotes(i)">
            <h2>{{record.drink}} {{record.amount}}{{record.unit}}</h2>
            <ion-note>{{record.datetime | date:'mediumDate'}} {{record.datetime | date:'shortTime'}}</ion-note>
          </ion-item>

          <ion-item *ngIf="id==3" (click)="showNotes(i)">
            <h2>{{record.weight}} lb</h2>
            <ion-note item-right>{{record.date | date}}</ion-note>
          </ion-item>

          <ion-item *ngIf="id==4" (click)="showNotes(i)">
            <h2>{{record.height}}</h2>
            <ion-note item-right>{{record.datetime | date:'mediumDate'}} {{record.datetime | date:'shortTime'}}</ion-note>
          </ion-item>

          <ion-item *ngIf="id==5" (click)="showNotes(i)">
            <h2>{{record.bedtime | date: 'shortTime'}} ~ {{record.wakeuptime | date: 'shortTime'}}</h2>
            <ion-note>{{record.bedtime | date: 'mediumDate'}}</ion-note>
          </ion-item>

          <ion-item *ngIf="id==6" (click)="showNotes(i)">
            <h2>{{record.exercise}} {{record.duration}}</h2>
            <ion-note>{{record.datetime | date:'mediumDate'}} {{record.datetime | date:'shortTime'}}</ion-note>
          </ion-item>

          <ion-item *ngIf="id==7" (click)="showNotes(i)">
            <h2>{{record.SBP}}/{{record.DBP}}</h2>
            <ion-note item-right>{{record.date | date}}</ion-note>
          </ion-item>

          <ion-item *ngIf="id==8" (click)="showNotes(i)">
            <h2>{{record.bloodsugar}} mg/dl</h2>
            <ion-note item-right>{{record.date | date}}</ion-note>
          </ion-item>

          <ion-item *ngIf="id==9" (click)="showNotes(i)">
            <h2>level {{record.pain}}</h2>
            <ion-note item-right>{{record.date | date}}</ion-note>
          </ion-item>

          <ion-item *ngIf="id==10">
            <ion-note>{{record.datetime | date:'mediumDate'}} {{record.datetime | date:'shortTime'}}</ion-note>
            <h2 text-wrap>{{record.note}}</h2>
          </ion-item>

          <ion-item *ngIf="id==11" (click)="showNotes(i)">
            <h2 text-wrap>{{record.mood}}</h2>
            <ion-note>{{record.date | date}}</ion-note>
          </ion-item>

          <ion-item *ngIf="id==12" (click)="showNotes(i)">
            <h2>{{record.begindate | date}} ~ {{record.enddate | date}}</h2>
          </ion-item>

        </ion-card>
      </ion-list>
      <ion-card [hidden]="records.length!=0">
        <ion-card-header>No {{title}} record.</ion-card-header>
      </ion-card>
    </div>
  </div>
</ion-content>
